html {
    background: url(images/26052281518_99bf20f828_o_5.jpg) no-repeat center
        center fixed #2a2a2a;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
body {
    color: #f4f1f4;
    font-family: "Montserrat", sans-serif;
    font-size: large;
    text-shadow: 1px 2px 0px black;
}
a,
a:active,
a:visited {
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding-bottom: 5px;
    border-bottom: 3px solid transparent;
}
a:hover {
    color: white;
    padding-bottom: 5px;
    border-bottom: 3px solid #ff5851;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    margin: 100px auto;
    padding: 20px;
    min-width: 250px;
    max-width: 450px;
    flex-basis: auto; /* default value */
    flex-grow: 1;
}
.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    line-height: 23px;
}
.profile #profile-photo {
    width: 80px;
    object-fit: contain;
    padding-right: 20px;
}
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 35px;
    line-height: 28px;
}
.social {
    display: flex;
    min-width: 160px;
    justify-content: space-around;
    font-size: 24px;
}
h1 {
    animation: falling 0.58s;
    animation-timing-function: cubic-bezier(1, 0.7, 0.4, 0.2);
}
@keyframes falling {
    0% {
        transform: translateY(-300px);
    }
    72% {
        transform: translateY(20px);
    }
    87% {
        transform: translateY(-3px);
    }
    100% {
        transform: translateY(0px);
    }
}
