body {
    color: #f4f1f4;
    font-family: "Montserrat", sans-serif;
    font-size: large;
    text-shadow: 1px 2px 0px black;

    background: linear-gradient(-45deg, #aa553b, #92254f, #1c83a8, #1b9e7f);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
a,
a:active,
a:visited {
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding-bottom: 5px;
    border-bottom: 3px solid transparent;
}
a:hover {
    color: white;
    padding-bottom: 5px;
    border-bottom: 3px solid #ff5851;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    margin: 100px auto;
    padding: 20px;
    min-width: 250px;
    max-width: 450px;
    flex-basis: auto; /* default value */
    flex-grow: 1;
}
.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    line-height: 23px;
}
.profile #profile-photo {
    width: 80px;
    height: 80px;
    object-fit: contain;
    padding-right: 20px;
}
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 35px;
    line-height: 28px;
}
.social {
    display: flex;
    min-width: 160px;
    justify-content: space-around;
    font-size: 24px;
}
h1 {
    font-size: 2em;
    font-weight: bold;
}
h1 > #hello {
    display: inline-block;
    padding-right: 9px;
    animation: 0.58s cubic-bezier(1, 0.7, 0.4, 0.2) 0s 1 normal none running
        falling;
}
h1 > #world {
    display: inline-block;
    animation: 0.88s cubic-bezier(1, 0.7, 0.4, 0.2) 0s 1 normal none running
        falling;
}
@keyframes falling {
    0% {
        transform: translateY(-300px);
    }
    72% {
        transform: translateY(20px);
    }
    87% {
        transform: translateY(-3px);
    }
    100% {
        transform: translateY(0px);
    }
}
