body {
  font-family: "Old Standard TT", serif;
  font-size: medium;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
